<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Demo MVC</title>

    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/add.css" />
  </head>
  <body>
    <div class="top">
      <a href="/">Quay lại trang chủ</a>
    </div>
    <form
      action="/createproduct"
      enctype="multipart/form-data"
      method="post"
      class="formAdd"
    >
      <div class="row">
        <label>Tên sản phẩm</label>
        <input type="text" name="ten" required="" />
      </div>

      <div class="row">
        <label>Mô tả </label>
        <textarea rows="5" cols="60" name="mo_ta" required=""></textarea>
      </div>

      <div class="row">
        <label>Giá </label>
        <input type="number" min="0" name="gia" required="" />
      </div>
      <div class="row">
        <label>Ảnh minh họa</label> <br />
        <img id="review" width="200" height="200" />
        <input
          type="file"
          name="hinh_anh"
          onchange="imgLoad(event)"
          required
          accept="image/*"
        />
      </div>
      <script>
        const imgLoad = (e) => {
          const img = document.getElementById("review");
          img.src = URL.createObjectURL(e.target.files[0]);
        };
      </script>
      <br />
      <div class="btnAdd">
        <button type="submit">Thêm sản phẩm</button>
      </div>
    </form>
  </body>
</html>
