@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i");

.formAdd{
    width: 600px;
    background-color: aqua;
}

.formAdd .row{
    position: relative;
    margin: 0 auto;

}